# Зависимости (их скачивают через npm install)
node_modules/

# Логи
*.log
npm-debug.log*

# Сборки
dist/
build/

# Локальные настройки и секреты
.env
.env.local

# Данные (чтобы не загружать историю сессий и пользователей в Git)
data/

# Системные файлы
.DS_Store
Thumbs.db